.item-menu-overlay {
    opacity: 0;
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.1);
    cursor:pointer;
}
.gallery-wrapper .item-menu-overlay {
    pointer-events: none;
}
.gallery-image .item-menu-overlay {
    pointer-events: none;
    background:transparent;
}
.shop-image .item-menu-overlay {
    pointer-events: all;
}

.features-image .item-menu-overlay {
    background: rgba(0, 0, 0, 0);
    pointer-events: none;
}

.features-without-image .item-menu-overlay {
    background: rgba(0, 0, 0, 0);
    pointer-events: none;
}

.amp-lightbox-gallery .item-menu-overlay{
    pointer-events: none;
    background: rgba(0, 0, 0, 0);
}
.amp-lightbox-carousel .item-menu-overlay {
    /* pointer-events: none; */
    background: rgba(0, 0, 0, 0);
}

.btn-wrapper {
    padding: 5px;
    z-index: 10;
    pointer-events: all;
    cursor: pointer;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: 5%;
    margin-right: 5%;
    display: flex;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 7px 11px 0 rgba(0, 0, 0, 0.2);
}

@media (max-width:992px) {
    .btn-wrapper {
        margin-top: auto;
        margin-right: auto;
        margin-left: 5%;
        margin-bottom: 5%;
    }
}

.edit-btn {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

.edit-btn a {
    padding: 5px;
    color: #5e5e5e;
    border-radius: 5px;
    background: white;
    font-size: 3rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    pointer-events: all;
    transition: 0.4s;
}

.ctrl-btn {
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.1rem;
}

.ctrl-btn:before {
    transition: 0.2s;
    font-size: 24px;
    border-radius: 3px;
    color: #5e5e5e;
    padding: 11px .4rem 5px;
}

.ctrl-btn:hover:before {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    color: #333333;
    background-color: #ebebeb;
    border-color: #adadad;
}

.ctrl-btn,
.mbr-icon-pencil {
    position: relative;
}

.ctrl-btn .tooltiptext,
.mbr-icon-pencil .tooltiptext {
    font-family: 'Jost', sans-serif;
    font-size: 14px;
    line-height: 16px;
    padding: 8px 10px;
    visibility: hidden;
    min-width: 100px;
    background-color: #2A2A2F;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 150;
    bottom: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.ctrl-btn .tooltiptext::after,
.mbr-icon-pencil .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.ctrl-btn:hover .tooltiptext,
.mbr-icon-pencil:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

img[decoding] {
    pointer-events: none;
}

.modal .item-wrapper {
  position: relative;
  text-align:center;
}
.modal .item-wrapper img {
    height: 140px;
    cursor: pointer;
}
.item-menu-overlay .row,
.item-wizard-slides .row{
    display:flex;
    flex-wrap: wrap;
}

.app-component .app-component-menu .edit-slides:hover {
    background-color:#26a69a;
}

amp-lightbox {
    z-index: 1040;
}

.modal-body .item {
    margin-bottom:1rem;
}
.modal .item-wrapper {
    position: relative;
    text-align: center;
}
.modal .item-wrapper img {
    height: 140px;
}

@media(max-width:767px) {
    .gallery-wrapper .item-wrapper img {
        max-height: 450px;
    }
}

@media(min-width:768px) {
    .gallery-wrapper .item-wrapper img {
        max-height: 250px;
    }
}

@media(max-width:767px) {
    .modal-body .item:nth-last-child(1) {
        margin-bottom: 0;
    }
}
